theme "catppuccin-mocha"

keybinds {
    normal {
        unbind "Ctrl p"
        bind "Ctrl y" { SwitchToMode "pane"; }

        unbind "Ctrl n"
        bind "Ctrl b" { SwitchToMode "resize"; }

        unbind "Ctrl o"
        bind "Ctrl s" { SwitchToMode "session"; }

        unbind "Ctrl h"
        bind "Ctrl m" { SwitchToMode "move"; }
    }
}

